html {
    margin: 0;
    height: 100%;
    width: 100%;
}

:root {
    --color1: #85ae78;
    --color2: #88b04b;
    --font-color: #3d3c3c;
    --color3: #eee5cf;
}

body {
    margin: 0;
    max-width: 100vw;
    height: 100%;
    font-family: "Oswald", sans-serif;
    color: var(--font-color);
}

.header {
    background: transparent linear-gradient(90deg, var(--color1) 0%, var(--color2) 100%) 0 0 no-repeat padding-box;
    height: 50px;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.header p {
    margin: 0;
    color: white;
    font-weight: bold;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.flex-box {
    display: flex;
    height: calc(100% - 50px);
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
    justify-content: space-between;
}

.bottom-half {
    height: 150px;
}

#publish-btn {
    background-color: var(--color1);
    color: white;
    width: 100%;
    border: none;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#generatedCode {
    height: 70%;
    background-color: rgb(247, 240, 228);
}

#output {
    height: 30%;
}